<%- include('template-header', { title: 'XLparser' }) -%>

    <div class="<%= message.status === 'done' ? 'container-fluid' : 'container' %>">
        <h1> <a href="/xlparser">XLparser</a> </h1>
        <p>
            <a href="/logout">Logout</a>
        </p>

        <% if (message?.result && message.status === 'done') { %>

            <% message.result.forEach( function(sheet, index) { %>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">id</th>

                    <th scope="col">N</th>
                    <th scope="col">Сорт</th>
                    <th scope="col">Кол-во кустов</th>
                    <th scope="col">Кол-во клубней (фракция 0)</th>
                    <th scope="col">Кол-во клубней (фракция 1)</th>
                    <th scope="col">Кол-во клубней (фракция 2)</th>
                    <th scope="col">Кол-во клубней (фракция 3)</th>                    
                    <th scope="col">Масса клубней (фракция 0)</th>
                    <th scope="col">Масса клубней (фракция 1)</th>
                    <th scope="col">Масса клубней (фракция 2)</th>
                    <th scope="col">Масса клубней (фракция 3)</th>
                    <th scope="col">Повтор</th>
                  </tr>
                </thead>
                <tbody>
                    <% sheet.forEach( function(row){ %>
                        <% if (row) { %>
                            <tr>
                            <% row.forEach( function(cell, i){ %>
                                <td><%= cell.value %></td>
                            <% }); %>
                            </tr>
                        <% } %>
                    <% }); %>
                </tbody>
              </table>
              <% }); %>
            <!-- <div class="text">
                <%- message.html %>
            </div> -->
        <% }  %>

        <% if (message?.status === 'loadFile') { %>  
            <div class="file-form">
                <form method="post" action="/xlparser" enctype="multipart/form-data" >
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Load xlsx file</label>
                        <input class="form-control" type="file" name="excel" id="formFile">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-info">Start</button>
                    </div>
                </form>
            </div>
        <% } %>

        <% if (message?.status === 'showLists' && message?.sheets) { %>  
            <div class="lists-form">
                <p class="strong">
                    Какие листы необходимо спарсить?
                </p>
                <div class="table_header">
                    <span class="list_name">Название листа</span>
                    <span class="created">Создано</span>
                    <span class="updated">Обновлено</span>
                    <span class="status">Статус</span>
                    <span class="list_type">Тип шаблона</span>
                </div>
                <form method="post" action="/xlparser?checkLists=true" enctype="multipart/form-data" >
                    <% message.sheets.forEach( function(sheet, index){ %>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault__<%= index %>" name="listId__<%= index %>">
                            <label class="form-check-label" for="flexCheckDefault__<%= index %>">
                                <span class="list_name"><%= sheet.list_name %></span>
                            </label>

                            <span class="table-cell secondary small"><%= sheet.created %></span>
                            <span class="table-cell secondary small"><%= sheet.updated || '-' %></span>
                            <span class="table-cell">-</span>
                            <span class="table-cell">-</span>
                        </div>                        
                    <% }); %>
                    <!-- <div class="mb-3">
                        <label for="formFile" class="form-label">Load xlsx file</label>
                        <input class="form-control" type="file" name="excel" id="formFile">
                    </div> -->
                    <div class="mb-3 mt-3">
                        <button type="submit" class="btn btn-info">Update lists</button>
                    </div>
                </form>
            </div>
        <% } %>
    </div>


    <%- include('template-footer') -%>